<p class="text-center">

  <div class="board">


    <div class="counter"></div>
    <div class="counter"

    style="left: 100px; top: 50px"
    ></div>

    <div class="half">

      <div class="row top">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>

      <div class="row bottom">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>

    </div>

    <div class="half">

      <div class="row top">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>

      <div class="row bottom">
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
        <div class="arrow"></div>
      </div>

    </div>

  </div>

</p>