<div ng-controller="GameCtrl" class="board">



  <div class="ctr">

      <div
        ng-repeat="checker in checkers track by checker.id"
        class="counter player{{checker.player}}"
        id="counter{{checker.id}}"
        ng-class="{canDrop: checker.styles.canDrop, draggable: checker.player == 5}"
      ></div>


    <div class="half">

      <div class="row top">
        <div
          ng-repeat="n in [11, 10, 9, 8, 7, 6] track by $index"
          class="arrow"
          id="arrow{{n}}"
          ng-class="{highlight: arrows[n].styles.highlight}"></div>
      </div>

      <div class="row bottom">
        <div
          ng-repeat="n in [12, 13, 14, 15, 16, 17] track by $index"
          class="arrow"
          id="arrow{{n}}"
          ng-class="{highlight: arrows[n].styles.highlight}">
        </div>
      </div>

    </div>

    <div class="half">

      <div class="row top">
        <div
          ng-repeat="n in [5, 4, 3, 2, 1, 0] track by $index"
          class="arrow"
          id="arrow{{n}}"
          ng-class="{highlight: arrows[n].styles.highlight}">
        </div>
      </div>

      <div class="row bottom">
        <div
          ng-repeat="n in [18, 19, 20, 21, 22, 23] track by $index"
          class="arrow"
          id="arrow{{n}}"
          ng-class="{highlight: arrows[n].styles.highlight}">
        </div>
      </div>

    </div>

  </div>

  <div class="controls">
    <p class="text-left" style="float:left;">{{ dicerollmessage }}</p>
    <button 
      type="button"
      class="btn btn-info"
      ng-if="controls.shouldShowDice()"
      ng-click="controls.roll()">Roll Dice!</button>
  </div>


</div>

