.board {
  text-align: center;
}

.ctr {
/*  position: relative;
*/  display: block;
}

.half {
  display: inline-table;
  margin-right: 10px;
  border: 4px solid red;
/*  padding-left: 10px;
  padding-right: 10px;*/
/*  padding-top: -20px;
  padding-bottom: -20px;*/
  z-index: 10;
  border-spacing: 10px 1px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #007bff transparent transparent transparent;
  display: table-cell;
}

.row.top .arrow {
  border-width: 270px 30px 0 30px;
}

.row.bottom .arrow {
  border-width: 270px 30px 0 30px;
  transform: rotate(180deg);
}

.arrow:nth-child(even) {
  border-color: skyblue transparent transparent transparent;
}

.arrow.highlight {
  border-color: black transparent transparent transparent;
}

.counter {
  border: 1px solid green;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  z-index: 20;
}

.counter.player0 {
    background-color: red;
}

.counter.player5 {
    background-color: orange;
}

/*
==-=-=-=-==
  Buttons
==-=-=-=-==
*/

.controls {
  width: 100%;
  height: 60px;
  text-align: right;
  line-height: 60px;
}
